body{
  width: 100vw;
  height: 100vh;
   width: 100vw;
    height: 100vh;
    background-image: url("bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.p-inputtext,.p-password-input {
  width: 100%;
}

.w-full .p-icon-field-right > .p-inputtext{
  padding-right: 0px;
  width: 100%;
}

.msg{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}